{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "electron": "43"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}
