:root {
  --n-disabled-color: #b8b8b8;

  --n-bg-color-base: #ffffff;
  --n-bg-color-light: #eff0f7;
  --n-text-color: #000;
  --n-text-color-base: #132847;
  --n-text-color-light: rgb(51, 54, 57);
  --n-text-color-active: rgb(22 93 255);
  --n-hover-bg-color: rgba(46, 51, 56, 0.05);

  --n-button-primary-text: #ffff;
  --n-button-primary: rgb(22 93 255);
  --n-button-primary-hover: #4080ff;
  --n-button-default-text: #000;
  --n-button-default: #f2f3f5;
  --n-button-default-hover: #e5e6eb;
  --n-button-danger: #ff1744;
  --n-button-danger-hover: #ef5350;
  --n-button-warning: #ff3d00;
  --n-button-warning-hover: #ff7043;

  --n-input-bg-color: #f2f3f5;
  --n-border-color: #f2f3f5;
  --n-scrollbar-color: #c2c2c2;

  --n-color-bg-dialog: #ffffff;
  --n-color-modal: #ffffff;
  --n-progress-bar-color: #90caf9;

  /* Tabs */
  --n-tabs-bg-color: var(--n-bg-color-light);
  --n-tabs-item-bg-color: #ffffff;
  --n-tabs-item-active: #165dff;
  --n-tabs-item-active-color: #fff;
  --n-tabs-item-hover-bg-color: #165dff;

  --n-select-bg-color: #fff;
  --n-select-hover-bg-color: #f2f3f5;

  --n-switch-active: rgb(22 93 255);
  --n-jump-box-shadow: rgb(0 0 0 / 20%);
}
